link(rel="stylesheet" href="/stylesheets/index.css")

h1(class="home_title") This Message Will Self-Destruct!

div(class="main")
    div(class="form_header") Create a New Message
    form(class="create_message" action="/messages" method="post")
        input(type="text" id="message_title" class="form_input" name="message_title" placeholder="Message Title" required)
        textarea(type="text" id="message_content" class="form_input" name="message_content" placeholder="Message Content" required)
        input(type="submit" class="create_message_button button" value="Create Message")

div(class="main")
    div(class="all_messages")
        div(class="message_list_text") All Messages
        div(class="message_container")
            if messages.length > 0
                each message in messages
                    div(class="message_box")
                        a(class="message_title" href=`/messages/${message.id}`) #{message.title}
            else
                div(class="message_container") Create a new message here.
