link(rel="stylesheet" href="/stylesheets/index.css")

h1(class="home_title") This Message Will Self-Destruct!

div(class="message_container")

    if message
        div(class='main')
            div(class="single_message_title") #{message.title}
            div(class="single_message_content") #{message.content}
    else
        div(class='main')
            div(class="message_header") Message Does not Exist
    a(class="home_button button" href=`/`) Home
